
@media only screen and (max-width: 576px){

  * {
    margin: 0;
    padding: 0;
    font-family: 'futura', sans-serif;
    
  }

/* begin navbar*/  


.navbar{
    display: flex;
    justify-content: space-between; /* space between logo and hamburger */
    align-items: center;  
    
    height: 100px;
    backdrop-filter: blur(5px);  /* Apply blur effect */
    background-color: #104418;
    

}

nav li{

    
  text-decoration: none;
  
  list-style: none;
  padding: 10px;
}

.navbar.sticky{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
    mix-blend-mode: difference;
    background-color:rgba(0, 0, 0, 1)
    
}



.sticky-active {
    padding-top: 100px;
    background-color: #104418; /* Adjust this based on the height of your navbar */
  }


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
/* end navbar*/  

/* menu begin */




.hamburger {
    
  mix-blend-mode: difference;
  color: white; /* Starting color for text before blend */
  
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  font-weight: bold;
  text-decoration: underline;
  
  

}



.hamburger.active {
  color: white;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -450px; /* Hide off-screen by default */
  width: 400px;
  height: 100vh;
  background-color: rgb(42, 42, 42); /* Semi-transparent background */
  mix-blend-mode: normal;
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 990;
  overflow-y: auto;     
  font-size: 2rem;
  
}



.side-menu li {
  list-style: none;
  padding: 5px;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Side menu active (slide in) */
.side-menu.active {
  right: 0;
}

.menu-content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  color: white;
}

/* When menu is open, fade in content */
.side-menu.active .menu-content {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Close the side menu when clicked outside */
body.open .side-menu {
  right: 0;
}

body.menu-open .navbar.sticky {
  background-color: rgba(0, 0, 0, 0.85); /* Add a solid background to cancel blend issues */
  mix-blend-mode: normal;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Inherit color from parent, or you can set any color like #000 or #333 */
}


/* end menu */

/* Circle around the cursor */
.cursor {
  position: fixed;
top: 0;
left: 0;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
pointer-events: none;
z-index: 10000;
transform: translate3d(0, 0, 0);
mix-blend-mode: difference; /* Negative color effect */
}

/* end cursor */

/* begin load animation*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Background color of the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above other content */
  transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
}
.loader.hidden {
  opacity: 0;
  visibility: hidden; /* Hide the loader */
}

/* end load animation*/

/* INCLUDE EVERYTHING ABOVE ON EVERY PAGE */

.hero{
    background-color: #104418;
    height: 100vh; /* Adjust the height of the section */
    
    text-align: center;
    align-items: center;
    
    
}

.hero h1{
    font-size: 3rem;
    color: #ff6600;
    text-align: center;
    
}

.hero-text{
   text-align: center;
   max-width: 500px;
   margin: 0 auto; /* Center the text */
 
}


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
  
  
  
  

  

  body {
    overflow-x: hidden; /* Prevent horizontal overflow when menu is not visible */
    
        
  }


  header{
    width: 75%;
    margin: 0 auto; /* Center the header */
    color: #fffdd0;
  }
  header h2{
    padding-top: 60px;
    text-align: left;
    font-size: 1.22rem;
  }


  .TheFamily{
    background-color: #104418;
    min-height: 100vh; /* Adjust the height of the section */
    display: flex;
    flex-direction: column;
    
    
  }

  
  .famTitle{
    color: #ff6600;
    padding-top: 10px;
    font-size: 2rem;
    text-align: center;
    white-space: nowrap;
    

   
  }
#main-fam-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #104418;
}



  .trammell{

    position:relative;
    align-self: center;
    margin-top : 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 2.5rem;
    width: 60%;
    background-image: url('trammell.jpeg');
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fffdd0;
    transition: all 0.5s ease;
    overflow: hidden;

  }

    .trammell:hover{
        
        filter: none;
        transform: scale(1.05);
    }

.preview-image img,
.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
}

.video-container {
    opacity: 0;
    pointer-events: none;
  }

  .trammell:hover .preview-image {
    opacity: 0;
  }

  .trammell:hover .video-container {
    opacity: 1;
    pointer-events: auto;
  }

  
  
      .name {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fffdd0;
        font-size: 1.2em;
        z-index: 1;
        transition: opacity 0.3s ease;
      }

      .hover-text {
        opacity: 0;
      }
      
      .trammell:hover .default-text {
        opacity: 0;
      }
      
      .trammell:hover .hover-text {
        opacity: 1;
      }


      .devin{

        position:relative;
        align-self: center;
        margin-top : 30px;
        padding-top: 200px;
        padding-bottom: 200px;
        font-size: 2.5rem;
        width: 60%;
        background-image: url('Devin.jpeg');
        filter: grayscale(100%);
        background-size: cover;
        background-repeat: no-repeat;
        color: #fffdd0;
        transition: all 0.5s ease;
        overflow: hidden;
    
      }
    
        .devin:hover{
            
            filter: none;
            transform: scale(1.05);
        }
    
    .preview-image img,
    .video-container iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
      transition: opacity 0.5s ease;
    }
    
    .video-container {
        opacity: 0;
        pointer-events: none;
      }
    
      .devin:hover .preview-image {
        opacity: 0;
      }
    
      .devin:hover .video-container {
        opacity: 1;
        pointer-events: auto;
      }
    
      
      
          .name {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fffdd0;
            font-size: 1.2em;
            z-index: 1;
            transition: opacity 0.3s ease;
          }
    
          .hover-text {
            opacity: 0;
          }
          
          .devin:hover .default-text {
            opacity: 0;
          }
          
          .devin:hover .hover-text {
            opacity: 1;
          }





  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Background color of the loader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it stays above other content */
    transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
  }
  .loader.hidden {
    opacity: 0;
    visibility: hidden; /* Hide the loader */
  }



    footer{
        background-color: black;
        color: white;
    }



.explore{
  padding-top:-20px;
  height:100vh;
  width: 100vw;
  background-color: #104418;
  color: #fffdd0;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}


.explore h2{
  font-size: 3.1rem;
  margin-top: 20px;
  white-space: nowrap;
  
}

#btnAbout{
  height: 40px;
  width: 80px;
  background-color: #ff6600;
  color: #fffdd0;
  font-family: "futura", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  border: solid 4px black;
  


}

}
@media only screen and (min-width: 576px){

  * {
    margin: 0;
    padding: 0;
    font-family: 'futura', sans-serif;
    
  }

/* begin navbar*/  


.navbar{
    display: flex;
    justify-content: space-between; /* space between logo and hamburger */
    align-items: center;  
    
    height: 100px;
    backdrop-filter: blur(5px);  /* Apply blur effect */
    background-color: #104418;
    

}

nav li{

    
  text-decoration: none;
  
  list-style: none;
  padding: 10px;
}

.navbar.sticky{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
    mix-blend-mode: difference;
    background-color:rgba(0, 0, 0, 1)
    
}



.sticky-active {
    padding-top: 100px;
    background-color: #104418; /* Adjust this based on the height of your navbar */
  }


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
/* end navbar*/  

/* menu begin */




.hamburger {
    
  mix-blend-mode: difference;
  color: white; /* Starting color for text before blend */
  
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  font-weight: bold;
  text-decoration: underline;
  
  

}



.hamburger.active {
  color: white;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -450px; /* Hide off-screen by default */
  width: 400px;
  height: 100vh;
  background-color: rgb(42, 42, 42); /* Semi-transparent background */
  mix-blend-mode: normal;
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 990;
  overflow-y: auto;     
  font-size: 2rem;
  
}



.side-menu li {
  list-style: none;
  padding: 5px;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Side menu active (slide in) */
.side-menu.active {
  right: 0;
}

.menu-content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  color: white;
}

/* When menu is open, fade in content */
.side-menu.active .menu-content {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Close the side menu when clicked outside */
body.open .side-menu {
  right: 0;
}

body.menu-open .navbar.sticky {
  background-color: rgba(0, 0, 0, 0.85); /* Add a solid background to cancel blend issues */
  mix-blend-mode: normal;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Inherit color from parent, or you can set any color like #000 or #333 */
}


/* end menu */

/* Circle around the cursor */
.cursor {
  position: fixed;
top: 0;
left: 0;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
pointer-events: none;
z-index: 10000;
transform: translate3d(0, 0, 0);
mix-blend-mode: difference; /* Negative color effect */
}

/* end cursor */

/* begin load animation*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Background color of the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above other content */
  transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
}
.loader.hidden {
  opacity: 0;
  visibility: hidden; /* Hide the loader */
}

/* end load animation*/

/* INCLUDE EVERYTHING ABOVE ON EVERY PAGE */

.hero{
    background-color: #104418;
    height: 100vh; /* Adjust the height of the section */
    
    text-align: center;
    align-items: center;
    
    
}

.hero h1{
    font-size: 3rem;
    color: #ff6600;
    text-align: left;
    padding-left: 20px;
}

.hero-text{
   text-align: center;
   max-width: 500px;
   margin: 0 auto; /* Center the text */
 
}


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
  
  
  
  

  

  body {
    overflow-x: hidden; /* Prevent horizontal overflow when menu is not visible */
    
        
  }


  header{
    width: 75%;
    margin: 0 auto; /* Center the header */
    color: #fffdd0;
  }
  header h2{
    padding-top: 60px;
    text-align: left;
    font-size: 1.4rem;
    
  }


  .TheFamily{
    background-color: #104418;
    min-height: 100vh; /* Adjust the height of the section */
    display: flex;
    flex-direction: column;
    
    
  }

  
  .famTitle{
    color: #ff6600;
    padding-top: 10px;
    font-size: 2rem;
    text-align: left;
    padding-left: 20px;
    

   
  }
#main-fam-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #104418;
}



  .trammell{

    position:relative;
    align-self: center;
    margin-top : 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 2.5rem;
    width: 60%;
    background-image: url('trammell.jpeg');
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fffdd0;
    transition: all 0.5s ease;
    overflow: hidden;

  }

    .trammell:hover{
        
        filter: none;
        transform: scale(1.05);
    }

.preview-image img,
.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
}

.video-container {
    opacity: 0;
    pointer-events: none;
  }

  .trammell:hover .preview-image {
    opacity: 0;
  }

  .trammell:hover .video-container {
    opacity: 1;
    pointer-events: auto;
  }

  
  
      .name {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fffdd0;
        font-size: 1.2em;
        z-index: 1;
        transition: opacity 0.3s ease;
      }

      .hover-text {
        opacity: 0;
      }
      
      .trammell:hover .default-text {
        opacity: 0;
      }
      
      .trammell:hover .hover-text {
        opacity: 1;
      }


      .devin{

        position:relative;
        align-self: center;
        margin-top : 30px;
        padding-top: 200px;
        padding-bottom: 200px;
        font-size: 2.5rem;
        width: 60%;
        background-image: url('Devin.jpeg');
        filter: grayscale(100%);
        background-size: cover;
        background-repeat: no-repeat;
        color: #fffdd0;
        transition: all 0.5s ease;
        overflow: hidden;
    
      }
    
        .devin:hover{
            
            filter: none;
            transform: scale(1.05);
        }
    
    .preview-image img,
    .video-container iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
      transition: opacity 0.5s ease;
    }
    
    .video-container {
        opacity: 0;
        pointer-events: none;
      }
    
      .devin:hover .preview-image {
        opacity: 0;
      }
    
      .devin:hover .video-container {
        opacity: 1;
        pointer-events: auto;
      }
    
      
      
          .name {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fffdd0;
            font-size: 1.2em;
            z-index: 1;
            transition: opacity 0.3s ease;
          }
    
          .hover-text {
            opacity: 0;
          }
          
          .devin:hover .default-text {
            opacity: 0;
          }
          
          .devin:hover .hover-text {
            opacity: 1;
          }





  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Background color of the loader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it stays above other content */
    transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
  }
  .loader.hidden {
    opacity: 0;
    visibility: hidden; /* Hide the loader */
  }



    footer{
        background-color: black;
        color: white;
    }



.explore{
  padding-top:-20px;
  height:100vh;
  width: 100vw;
  background-color: #104418;
  color: #fffdd0;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}


.explore h2{
  font-size: 4.1rem;
  margin-top: 20px;
  white-space: nowrap;
  
}

#btnAbout{
  height: 50px;
  width: 100px;
  background-color: #ff6600;
  color: #fffdd0;
  font-family: "futura", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  border: solid 4px black;
  


}


}
@media only screen and (min-width: 768px){

  * {
    margin: 0;
    padding: 0;
    font-family: 'futura', sans-serif;
    
  }

/* begin navbar*/  


.navbar{
    display: flex;
    justify-content: space-between; /* space between logo and hamburger */
    align-items: center;  
    
    height: 100px;
    backdrop-filter: blur(5px);  /* Apply blur effect */
    background-color: #104418;
    

}

nav li{

    
  text-decoration: none;
  
  list-style: none;
  padding: 10px;
}

.navbar.sticky{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
    mix-blend-mode: difference;
    background-color:rgba(0, 0, 0, 1)
    
}



.sticky-active {
    padding-top: 100px;
    background-color: #104418; /* Adjust this based on the height of your navbar */
  }


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
/* end navbar*/  

/* menu begin */




.hamburger {
    
  mix-blend-mode: difference;
  color: white; /* Starting color for text before blend */
  
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  font-weight: bold;
  text-decoration: underline;
  
  

}



.hamburger.active {
  color: white;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -450px; /* Hide off-screen by default */
  width: 400px;
  height: 100vh;
  background-color: rgb(42, 42, 42); /* Semi-transparent background */
  mix-blend-mode: normal;
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 990;
  overflow-y: auto;     
  font-size: 2rem;
  
}



.side-menu li {
  list-style: none;
  padding: 5px;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Side menu active (slide in) */
.side-menu.active {
  right: 0;
}

.menu-content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  color: white;
}

/* When menu is open, fade in content */
.side-menu.active .menu-content {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Close the side menu when clicked outside */
body.open .side-menu {
  right: 0;
}

body.menu-open .navbar.sticky {
  background-color: rgba(0, 0, 0, 0.85); /* Add a solid background to cancel blend issues */
  mix-blend-mode: normal;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Inherit color from parent, or you can set any color like #000 or #333 */
}


/* end menu */

/* Circle around the cursor */
.cursor {
  position: fixed;
top: 0;
left: 0;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
pointer-events: none;
z-index: 10000;
transform: translate3d(0, 0, 0);
mix-blend-mode: difference; /* Negative color effect */
}

/* end cursor */

/* begin load animation*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Background color of the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above other content */
  transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
}
.loader.hidden {
  opacity: 0;
  visibility: hidden; /* Hide the loader */
}

/* end load animation*/

/* INCLUDE EVERYTHING ABOVE ON EVERY PAGE */

.hero{
    background-color: #104418;
    height: 100vh; /* Adjust the height of the section */
    
    text-align: center;
    align-items: center;
    
    
}

.hero h1{
    font-size: 3rem;
    color: #ff6600;
    text-align: left;
    padding-left: 20px;
}

.hero-text{
   text-align: center;
   max-width: 500px;
   margin: 0 auto; /* Center the text */
 
}


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
  
  
  
  

  

  body {
    overflow-x: hidden; /* Prevent horizontal overflow when menu is not visible */
    
        
  }


  header{
    width: 75%;
    margin: 0 auto; /* Center the header */
    color: #fffdd0;
  }
  header h2{
    padding-top: 60px;
    text-align: left;
    font-size: 1.6rem;
  }


  .TheFamily{
    background-color: #104418;
    min-height: 100vh; /* Adjust the height of the section */
    display: flex;
    flex-direction: column;
    
    
  }

  
  .famTitle{
    color: #ff6600;
    padding-top: 10px;
    font-size: 2rem;
    text-align: left;
    padding-left: 20px;
    

   
  }
#main-fam-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #104418;
}



  .trammell{

    position:relative;
    align-self: center;
    margin-top : 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 2.5rem;
    width: 60%;
    background-image: url('trammell.jpeg');
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fffdd0;
    transition: all 0.5s ease;
    overflow: hidden;

  }

    .trammell:hover{
        
        filter: none;
        transform: scale(1.05);
    }

.preview-image img,
.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
}

.video-container {
    opacity: 0;
    pointer-events: none;
  }

  .trammell:hover .preview-image {
    opacity: 0;
  }

  .trammell:hover .video-container {
    opacity: 1;
    pointer-events: auto;
  }

  
  
      .name {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fffdd0;
        font-size: 1.2em;
        z-index: 1;
        transition: opacity 0.3s ease;
      }

      .hover-text {
        opacity: 0;
      }
      
      .trammell:hover .default-text {
        opacity: 0;
      }
      
      .trammell:hover .hover-text {
        opacity: 1;
      }


      .devin{

        position:relative;
        align-self: center;
        margin-top : 30px;
        padding-top: 200px;
        padding-bottom: 200px;
        font-size: 2.5rem;
        width: 60%;
        background-image: url('Devin.jpeg');
        filter: grayscale(100%);
        background-size: cover;
        background-repeat: no-repeat;
        color: #fffdd0;
        transition: all 0.5s ease;
        overflow: hidden;
    
      }
    
        .devin:hover{
            
            filter: none;
            transform: scale(1.05);
        }
    
    .preview-image img,
    .video-container iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
      transition: opacity 0.5s ease;
    }
    
    .video-container {
        opacity: 0;
        pointer-events: none;
      }
    
      .devin:hover .preview-image {
        opacity: 0;
      }
    
      .devin:hover .video-container {
        opacity: 1;
        pointer-events: auto;
      }
    
      
      
          .name {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fffdd0;
            font-size: 1.2em;
            z-index: 1;
            transition: opacity 0.3s ease;
          }
    
          .hover-text {
            opacity: 0;
          }
          
          .devin:hover .default-text {
            opacity: 0;
          }
          
          .devin:hover .hover-text {
            opacity: 1;
          }





  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Background color of the loader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it stays above other content */
    transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
  }
  .loader.hidden {
    opacity: 0;
    visibility: hidden; /* Hide the loader */
  }



    footer{
        background-color: black;
        color: white;
    }



.explore{
  padding-top:-20px;
  height:100vh;
  width: 100vw;
  background-color: #104418;
  color: #fffdd0;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}


.explore h2{
  font-size: 5.5rem;
  margin-top: 20px;
  white-space: nowrap;
  
}

#btnAbout{
  height: 60px;
  width: 120px;
  background-color: #ff6600;
  color: #fffdd0;
  font-family: "futura", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  border: solid 4px black;
  


}

}
@media only screen and (min-width: 992px){

  * {
    margin: 0;
    padding: 0;
    font-family: 'futura', sans-serif;
    
  }

/* begin navbar*/  


.navbar{
    display: flex;
    justify-content: space-between; /* space between logo and hamburger */
    align-items: center;  
    
    height: 100px;
    backdrop-filter: blur(5px);  /* Apply blur effect */
    background-color: #104418;
    

}

nav li{

    
  text-decoration: none;
  
  list-style: none;
  padding: 10px;
}

.navbar.sticky{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
    mix-blend-mode: difference;
    background-color:rgba(0, 0, 0, 1)
    
}



.sticky-active {
    padding-top: 100px;
    background-color: #104418; /* Adjust this based on the height of your navbar */
  }


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
/* end navbar*/  

/* menu begin */




.hamburger {
    
  mix-blend-mode: difference;
  color: white; /* Starting color for text before blend */
  
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  font-weight: bold;
  text-decoration: underline;
  
  

}



.hamburger.active {
  color: white;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -450px; /* Hide off-screen by default */
  width: 400px;
  height: 100vh;
  background-color: rgb(42, 42, 42); /* Semi-transparent background */
  mix-blend-mode: normal;
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 990;
  overflow-y: auto;     
  font-size: 2rem;
  
}



.side-menu li {
  list-style: none;
  padding: 5px;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Side menu active (slide in) */
.side-menu.active {
  right: 0;
}

.menu-content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  color: white;
}

/* When menu is open, fade in content */
.side-menu.active .menu-content {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Close the side menu when clicked outside */
body.open .side-menu {
  right: 0;
}

body.menu-open .navbar.sticky {
  background-color: rgba(0, 0, 0, 0.85); /* Add a solid background to cancel blend issues */
  mix-blend-mode: normal;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Inherit color from parent, or you can set any color like #000 or #333 */
}


/* end menu */

/* Circle around the cursor */
.cursor {
  position: fixed;
top: 0;
left: 0;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
pointer-events: none;
z-index: 10000;
transform: translate3d(0, 0, 0);
mix-blend-mode: difference; /* Negative color effect */
}

/* end cursor */

/* begin load animation*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Background color of the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above other content */
  transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
}
.loader.hidden {
  opacity: 0;
  visibility: hidden; /* Hide the loader */
}

/* end load animation*/

/* INCLUDE EVERYTHING ABOVE ON EVERY PAGE */

.hero{
    background-color: #104418;
    height: 100vh; /* Adjust the height of the section */
    
    text-align: center;
    align-items: center;
    
    
}

.hero h1{
    font-size: 3rem;
    color: #ff6600;
    text-align: left;
    padding-left: 20px;
    
}

.hero-text{
   text-align: center;
   max-width: 500px;
   margin: 0 auto; /* Center the text */
 
}


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
  
  
  
  

  

  body {
    overflow-x: hidden; /* Prevent horizontal overflow when menu is not visible */
    
        
  }


  header{
    width: 75%;
    margin: 0 auto; /* Center the header */
    color: #fffdd0;
  }
  header h2{
    padding-top: 60px;
    text-align: left;
    font-size: 1.8rem;
  }


  .TheFamily{
    background-color: #104418;
    min-height: 100vh; /* Adjust the height of the section */
    display: flex;
    flex-direction: column;
    
    
  }

  
  .famTitle{
    color: #ff6600;
    padding-top: 10px;
    font-size: 2rem;
    text-align: left;
    padding-left: 20px;
    

   
  }
#main-fam-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #104418;
}



  .trammell{

    position:relative;
    align-self: center;
    margin-top : 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 2.5rem;
    width: 60%;
    background-image: url('trammell.jpeg');
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fffdd0;
    transition: all 0.5s ease;
    overflow: hidden;

  }

    .trammell:hover{
        
        filter: none;
        transform: scale(1.05);
    }

.preview-image img,
.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
}

.video-container {
    opacity: 0;
    pointer-events: none;
  }

  .trammell:hover .preview-image {
    opacity: 0;
  }

  .trammell:hover .video-container {
    opacity: 1;
    pointer-events: auto;
  }

  
  
      .name {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fffdd0;
        font-size: 1.2em;
        z-index: 1;
        transition: opacity 0.3s ease;
      }

      .hover-text {
        opacity: 0;
      }
      
      .trammell:hover .default-text {
        opacity: 0;
      }
      
      .trammell:hover .hover-text {
        opacity: 1;
      }


      .devin{

        position:relative;
        align-self: center;
        margin-top : 30px;
        padding-top: 200px;
        padding-bottom: 200px;
        font-size: 2.5rem;
        width: 60%;
        background-image: url('Devin.jpeg');
        filter: grayscale(100%);
        background-size: cover;
        background-repeat: no-repeat;
        color: #fffdd0;
        transition: all 0.5s ease;
        overflow: hidden;
    
      }
    
        .devin:hover{
            
            filter: none;
            transform: scale(1.05);
        }
    
    .preview-image img,
    .video-container iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
      transition: opacity 0.5s ease;
    }
    
    .video-container {
        opacity: 0;
        pointer-events: none;
      }
    
      .devin:hover .preview-image {
        opacity: 0;
      }
    
      .devin:hover .video-container {
        opacity: 1;
        pointer-events: auto;
      }
    
      
      
          .name {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fffdd0;
            font-size: 1.2em;
            z-index: 1;
            transition: opacity 0.3s ease;
          }
    
          .hover-text {
            opacity: 0;
          }
          
          .devin:hover .default-text {
            opacity: 0;
          }
          
          .devin:hover .hover-text {
            opacity: 1;
          }





  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Background color of the loader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it stays above other content */
    transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
  }
  .loader.hidden {
    opacity: 0;
    visibility: hidden; /* Hide the loader */
  }



    footer{
        background-color: black;
        color: white;
    }



.explore{
  padding-top:-20px;
  height:100vh;
  width: 100vw;
  background-color: #104418;
  color: #fffdd0;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}


.explore h2{
  font-size: 6.5rem;
  margin-top: 20px;
  white-space: nowrap;
  
}

#btnAbout{
  height: 70px;
  width: 140px;
  background-color: #ff6600;
  color: #fffdd0;
  font-family: "futura", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  border: solid 4px black;
  


}

}
@media only screen and (min-width: 1200px){

  * {
    margin: 0;
    padding: 0;
    font-family: 'futura', sans-serif;
    
  }

/* begin navbar*/  


.navbar{
    display: flex;
    justify-content: space-between; /* space between logo and hamburger */
    align-items: center;  
    
    height: 100px;
    backdrop-filter: blur(5px);  /* Apply blur effect */
    background-color: #104418;
    

}

nav li{

    
  text-decoration: none;
  
  list-style: none;
  padding: 10px;
}

.navbar.sticky{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
    mix-blend-mode: difference;
    background-color:rgba(0, 0, 0, 1)
    
}



.sticky-active {
    padding-top: 100px;
    background-color: #104418; /* Adjust this based on the height of your navbar */
  }


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
/* end navbar*/  

/* menu begin */




.hamburger {
    
  mix-blend-mode: difference;
  color: white; /* Starting color for text before blend */
  
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  font-weight: bold;
  text-decoration: underline;
  
  

}



.hamburger.active {
  color: white;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -450px; /* Hide off-screen by default */
  width: 400px;
  height: 100vh;
  background-color: rgb(42, 42, 42); /* Semi-transparent background */
  mix-blend-mode: normal;
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 990;
  overflow-y: auto;     
  font-size: 2rem;
  
}



.side-menu li {
  list-style: none;
  padding: 5px;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Side menu active (slide in) */
.side-menu.active {
  right: 0;
}

.menu-content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  color: white;
}

/* When menu is open, fade in content */
.side-menu.active .menu-content {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Close the side menu when clicked outside */
body.open .side-menu {
  right: 0;
}

body.menu-open .navbar.sticky {
  background-color: rgba(0, 0, 0, 0.85); /* Add a solid background to cancel blend issues */
  mix-blend-mode: normal;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Inherit color from parent, or you can set any color like #000 or #333 */
}


/* end menu */

/* Circle around the cursor */
.cursor {
  position: fixed;
top: 0;
left: 0;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
pointer-events: none;
z-index: 10000;
transform: translate3d(0, 0, 0);
mix-blend-mode: difference; /* Negative color effect */
}

/* end cursor */

/* begin load animation*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Background color of the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above other content */
  transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
}
.loader.hidden {
  opacity: 0;
  visibility: hidden; /* Hide the loader */
}

/* end load animation*/

/* INCLUDE EVERYTHING ABOVE ON EVERY PAGE */

.hero{
    background-color: #104418;
    height: 100vh; /* Adjust the height of the section */
    
    text-align: center;
    align-items: center;
    
    
}

.hero h1{
    font-size: 3rem;
    color: #ff6600;
    text-align: left;
    padding-left: 20px;
    
}

.hero-text{
   text-align: center;
   max-width: 500px;
   margin: 0 auto; /* Center the text */
 
}


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
  
  
  
  

  

  body {
    overflow-x: hidden; /* Prevent horizontal overflow when menu is not visible */
    
        
  }


  header{
    width: 75%;
    margin: 0 auto; /* Center the header */
    color: #fffdd0;
  }
  header h2{
    padding-top: 60px;
    text-align: left;
    font-size: 2rem;
  }


  .TheFamily{
    background-color: #104418;
    min-height: 100vh; /* Adjust the height of the section */
    display: flex;
    flex-direction: column;
    
    
  }

  
  .famTitle{
    color: #ff6600;
    padding-top: 10px;
    font-size: 2rem;
    text-align: left;
    padding-left: 20px;
    

   
  }
#main-fam-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #104418;
}



  .trammell{

    position:relative;
    align-self: center;
    margin-top : 0px;
    padding-top: 200px;
    padding-bottom: 200px;
    font-size: 2.5rem;
    width: 60%;
    background-image: url('trammell.jpeg');
    filter: grayscale(100%);
    background-size: cover;
    background-repeat: no-repeat;
    color: #fffdd0;
    transition: all 0.5s ease;
    overflow: hidden;

  }

    .trammell:hover{
        
        filter: none;
        transform: scale(1.05);
    }

.preview-image img,
.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: 0;
  transition: opacity 0.5s ease;
}

.video-container {
    opacity: 0;
    pointer-events: none;
  }

  .trammell:hover .preview-image {
    opacity: 0;
  }

  .trammell:hover .video-container {
    opacity: 1;
    pointer-events: auto;
  }

  
  
      .name {
        position: absolute;
        bottom: 10px;
        left: 10px;
        color: #fffdd0;
        font-size: 1.2em;
        z-index: 1;
        transition: opacity 0.3s ease;
      }

      .hover-text {
        opacity: 0;
      }
      
      .trammell:hover .default-text {
        opacity: 0;
      }
      
      .trammell:hover .hover-text {
        opacity: 1;
      }


      .devin{

        position:relative;
        align-self: center;
        margin-top : 30px;
        padding-top: 200px;
        padding-bottom: 200px;
        font-size: 2.5rem;
        width: 60%;
        background-image: url('Devin.jpeg');
        filter: grayscale(100%);
        background-size: cover;
        background-repeat: no-repeat;
        color: #fffdd0;
        transition: all 0.5s ease;
        overflow: hidden;
    
      }
    
        .devin:hover{
            
            filter: none;
            transform: scale(1.05);
        }
    
    .preview-image img,
    .video-container iframe {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
      top: 0;
      left: 0;
      z-index: 0;
      transition: opacity 0.5s ease;
    }
    
    .video-container {
        opacity: 0;
        pointer-events: none;
      }
    
      .devin:hover .preview-image {
        opacity: 0;
      }
    
      .devin:hover .video-container {
        opacity: 1;
        pointer-events: auto;
      }
    
      
      
          .name {
            position: absolute;
            bottom: 10px;
            left: 10px;
            color: #fffdd0;
            font-size: 1.2em;
            z-index: 1;
            transition: opacity 0.3s ease;
          }
    
          .hover-text {
            opacity: 0;
          }
          
          .devin:hover .default-text {
            opacity: 0;
          }
          
          .devin:hover .hover-text {
            opacity: 1;
          }





  .loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white; /* Background color of the loader */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure it stays above other content */
    transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
  }
  .loader.hidden {
    opacity: 0;
    visibility: hidden; /* Hide the loader */
  }



    footer{
        background-color: black;
        color: white;
    }



.explore{
  padding-top:-20px;
  height:100vh;
  width: 100vw;
  background-color: #104418;
  color: #fffdd0;
  display: flex;
  flex-direction: column;
  
  justify-content: center;
  align-items: center;
}


.explore h2{
  font-size: 7.5rem;
  margin-top: 20px;
  white-space: nowrap;
  
}

#btnAbout{
  height: 80px;
  width: 160px;
  background-color: #ff6600;
  color: #fffdd0;
  font-family: "futura", sans-serif;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  border: solid 4px black;
  


}

}
@media only screen and (min-width: 1400px){}

