@media only screen and (max-width: 600px){

  * {
    margin: 0;
    padding: 0;
   
    
    
  }
/* begin navbar*/  


  .navbar{
    display: flex;
    justify-content: space-between; /* space between logo and hamburger */
    align-items: center;  
    
    height: 100px;
    backdrop-filter: blur(5px);  /* Apply blur effect */
    background-color: white;
    

}

nav li{

    
  text-decoration: none;
  
  list-style: none;
  padding: 10px;
}

.navbar.sticky{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
    mix-blend-mode: difference;
    background-color:rgba(0, 0, 0, 1)

    
}




.sticky-active {
    padding-top: 100px;
    background-color: white; /* Adjust this based on the height of your navbar */
  }


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
/* end navbar*/  

/* menu begin */




.hamburger {
    
  mix-blend-mode: difference;
  color: white; /* Starting color for text before blend */
  
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  font-weight: bold;
  text-decoration: underline;
  
  

}



.hamburger.active {
  color: white;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -450px; /* Hide off-screen by default */
  width: 400px;
  height: 100vh;
  backdrop-filter: blur(5px);  /* Apply blur effect */
  background-color: rgb(42, 42, 42); /* Semi-transparent background */
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 999;
  overflow-y: auto;     
  font-size: 2rem;
}





.side-menu li {
  
  list-style: none;
  padding: 5px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Side menu active (slide in) */
.side-menu.active {
  right: 0;
}

.menu-content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  color: white;
}

/* When menu is open, fade in content */
.side-menu.active .menu-content {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Close the side menu when clicked outside */
body.open .side-menu {
  right: 0;
}

body.menu-open .navbar.sticky {
  background-color: rgba(0, 0, 0, 0.85); /* Add a solid background to cancel blend issues */
  mix-blend-mode: normal;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Inherit color from parent, or you can set any color like #000 or #333 */
}


/* end menu */

/* Circle around the cursor */
.cursor {
  position: fixed;
top: 0;
left: 0;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
pointer-events: none;
z-index: 10000;
transform: translate3d(0, 0, 0);
mix-blend-mode: difference; /* Negative color effect */
}

/* end cursor */

/* begin load animation*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Background color of the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above other content */
  transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
}
.loader.hidden {
  opacity: 0;
  visibility: hidden; /* Hide the loader */
}

/* end load animation*/

/* INCLUDE EVERYTHING ABOVE ON EVERY PAGE */


.hero{
    background-color: white;
    height: 80vh; /* Adjust the height of the section */
        /* Change text color for better contrast */
    text-align: center;
    align-items: center;
    
    
}



.hero-text{
   text-align: center;
   max-width: 500px;
   margin: 0 auto; /* Center the text */
 
}

.ourworklink{
  padding-top:15px;
  color: white;
  font-size: 1.2rem;;
  font-weight: 400;
}

.ourworklink:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline;
  transition: 200ms;
}







  
  
  
  

  

  body {
    overflow-x: hidden; /* Prevent horizontal overflow when menu is not visible */
    font-family: 'futura', sans-serif;

  }


  header{
    width: 75%;
    margin: 0 auto; /* Center the header */
    color:  #03062B;
    
  }
  header h2{
    padding-top: 100px;
    text-align: left;
    font-size: 1.5rem;
    


  }

 

  .ourWork{
    background-color:white;
    min-height: 100vh; /* Adjust the height of the section */
    display: flex;
    flex-direction: column;
    
    
  }

  
 


  .ourWorkTitle{
    color: #03062B;
    padding-top: 150px;
    
    font-size: 3rem;
    text-align: center;
    

   
  }
#main-work-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: white;
}



  .TWCD{
    position:relative;
    align-self: center;
    margin-top : 100px;
    opacity: 1;
    font-size: 2.5rem;
    width: 80%;
    height: 400px;
    background-color:  #3E70F2;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-image: url('/media/Partner-Media/TWCD/twcdlogoonlyblack_25.webp');
    background-size: 350px;
    background-position: center;
    
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;

  }

  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom : 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .TWCD:hover .twcd-logo {
    opacity: 0.6;
  }
  
  .TWCD:hover .middle {
    opacity: 1;
  }

  .TWCD:hover{
    backface-visibility: hidden;
    background-color:  #325abf;



  }
  
  .twcd-text {
    color: white;
    font-size: 32px;
    padding: 16px 32px;
  }

  .main-work-box p{
    margin-bottom:30px;
  }

  

  

    /* Scrollbar container */
.c-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 7px;
  height: 100vh;
  z-index: 59;
  pointer-events: none; /* Allows clicks to pass through if needed */
}

/* Scroll thumb */
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  background-color: #000;
  opacity: 0.5;
  cursor: grab;
  z-index: 59;
  pointer-events: auto; /* React to mouse events */
}

footer{
  height: fit-content;
  background-color: #03062B;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.bottom-title{
  width: 100%;
  display: flex;
  overflow: hidden;

 

}

.bottom-title h1{
  
  color:white;
  text-align: center;
  font-size: 5.5rem;
  animation: move-rtl 30000ms linear infinite;
  white-space: nowrap;
  padding: 0 1rem
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.socials-container{
  display: flex;
  flex-direction: column;
  gap: 20px;
  
  
}

.socials-container a{
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1em;
  display: grid;
  
  place-items: center;
  position: relative;
  border-radius: 100%;
}

.socials-container a svg{
  height: 32px;
  fill: white;
}

.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 100px;
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms ease-in-out;

}


.socials-container a::after{
 
  opacity: 0;
  transform: translateY(0) rotate(25deg);
  
}

.socials-container a:hover::before{
  opacity: 1;
  transform: translateY(-65px) rotate(0);
}

.socials-container a:hover::after{
  opacity: 1;
  transform: translateY(-42px) rotate(0);
}

.footer-container{
  display: flex;
  
}

.blog-container{
  position: relative;
  top: 90px;
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: center;
  margin: 5px;
  
  
}

.blog-box{
  
  height: fit-content;
  width: 700px;
  
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:start;
  color: black;
  gap: 20px;
}

.eng-mindset-pic{
  height: 300px;
}
.nas-pic{
  height: 300px
}

.blog-box h3{
font-size: .8rem;
}

.WIRE{
  background-color: white;
  height: 100vh; /* Adjust the height of the section */
  color:  #03062B;
  padding-bottom: 10px;

  
  
 
}

.wire-title{
    padding-top: 20px;
    
    font-size: 3rem;
    text-align: center;
}

.contact-info{
  height: 200px;
  width:400px;
  
  color: white;
  line-height: 1.5rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.contact-info a{
  color: grey;
  text-decoration: none;
}
.contact-info a:hover{
  color: white;
  text-decoration: underline;
  transition: 200ms;;
}

}
@media only screen and (min-width: 600px){


  * {
    margin: 0;
    padding: 0;
   
    
    
  }
/* begin navbar*/  


  .navbar{
    display: flex;
    justify-content: space-between; /* space between logo and hamburger */
    align-items: center;  
    
    height: 100px;
    backdrop-filter: blur(5px);  /* Apply blur effect */
    background-color: white;
    

}

nav li{

    
  text-decoration: none;
  
  list-style: none;
  padding: 10px;
}

.navbar.sticky{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
    mix-blend-mode: difference;
    background-color:rgba(0, 0, 0, 1)

    
}




.sticky-active {
    padding-top: 100px;
    background-color: white; /* Adjust this based on the height of your navbar */
  }


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
/* end navbar*/  

/* menu begin */




.hamburger {
    
  mix-blend-mode: difference;
  color: white; /* Starting color for text before blend */
  
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  font-weight: bold;
  text-decoration: underline;
  
  

}



.hamburger.active {
  color: white;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -450px; /* Hide off-screen by default */
  width: 400px;
  height: 100vh;
  backdrop-filter: blur(5px);  /* Apply blur effect */
  background-color: rgb(42, 42, 42); /* Semi-transparent background */
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 999;
  overflow-y: auto;     
  font-size: 2rem;
}





.side-menu li {
  
  list-style: none;
  padding: 5px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Side menu active (slide in) */
.side-menu.active {
  right: 0;
}

.menu-content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  color: white;
}

/* When menu is open, fade in content */
.side-menu.active .menu-content {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Close the side menu when clicked outside */
body.open .side-menu {
  right: 0;
}

body.menu-open .navbar.sticky {
  background-color: rgba(0, 0, 0, 0.85); /* Add a solid background to cancel blend issues */
  mix-blend-mode: normal;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Inherit color from parent, or you can set any color like #000 or #333 */
}


/* end menu */

/* Circle around the cursor */
.cursor {
  position: fixed;
top: 0;
left: 0;
width: 40px;
height: 40px;
background: white;
border-radius: 50%;
pointer-events: none;
z-index: 10000;
transform: translate3d(0, 0, 0);
mix-blend-mode: difference; /* Negative color effect */
}

/* end cursor */

/* begin load animation*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Background color of the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above other content */
  transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
}
.loader.hidden {
  opacity: 0;
  visibility: hidden; /* Hide the loader */
}

/* end load animation*/

/* INCLUDE EVERYTHING ABOVE ON EVERY PAGE */


.hero{
    background-color: white;
    height: 80vh; /* Adjust the height of the section */
        /* Change text color for better contrast */
    text-align: center;
    align-items: center;
    
    
}



.hero-text{
   text-align: center;
   max-width: 500px;
   margin: 0 auto; /* Center the text */
 
}

.ourworklink{
  padding-top:15px;
  color: white;
  font-size: 1.2rem;;
  font-weight: 400;
}

.ourworklink:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline;
  transition: 200ms;
}







  
  
  
  

  

  body {
    overflow-x: hidden; /* Prevent horizontal overflow when menu is not visible */
    font-family: 'futura', sans-serif;

  }


  header{
    width: 75%;
    margin: 0 auto; /* Center the header */
    color:  #03062B;
    
  }
  header h2{
    padding-top: 100px;
    text-align: left;
    font-size: 2rem;
    


  }

 

  .ourWork{
    background-color:white;
    min-height: 100vh; /* Adjust the height of the section */
    display: flex;
    flex-direction: column;
    padding-top: 130px;
    
    
  }

  
 


  .ourWorkTitle{
    color: #03062B;
    padding-top: 150px;
    padding-left: 30px;
    font-size: 4rem;
    
    

   
  }
#main-work-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 50px;
    background-color: white;
}



  .TWCD{
    position:relative;
    align-self: center;
    margin-top : 100px;
    opacity: 1;
    font-size: 2.5rem;
    width: 80%;
    height: 400px;
    background-color:  #3E70F2;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-image: url('/media/Partner-Media/TWCD/twcdlogoonlyblack_25.webp');
    background-size: 350px;
    background-position: center;
    
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;

  }

  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom : 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .TWCD:hover .twcd-logo {
    opacity: 0.6;
  }
  
  .TWCD:hover .middle {
    opacity: 1;
  }

  .TWCD:hover{
    backface-visibility: hidden;
    background-color:  #325abf;



  }
  
  .twcd-text {
    color: white;
    font-size: 32px;
    padding: 16px 32px;
  }

  .main-work-box p{
    margin-bottom:30px;
  }

  

  

    /* Scrollbar container */
.c-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 7px;
  height: 100vh;
  z-index: 59;
  pointer-events: none; /* Allows clicks to pass through if needed */
}

/* Scroll thumb */
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  background-color: #000;
  opacity: 0.5;
  cursor: grab;
  z-index: 59;
  pointer-events: auto; /* React to mouse events */
}

footer{
  height: fit-content;
  background-color: #03062B;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.bottom-title{
  width: 100%;
  display: flex;
  overflow: hidden;

 

}

.bottom-title h1{
  
  color:white;
  text-align: center;
  font-size: 5.5rem;
  animation: move-rtl 30000ms linear infinite;
  white-space: nowrap;
  padding: 0 1rem
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.socials-container{
  display: flex;
  
  gap: 20px;
  
  
}

.socials-container a{
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1em;
  display: grid;
  
  place-items: center;
  position: relative;
  border-radius: 100%;
}

.socials-container a svg{
  height: 32px;
  fill: white;
}

.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 100px;
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms ease-in-out;

}


.socials-container a::after{
 
  opacity: 0;
  transform: translateY(0) rotate(25deg);
  
}

.socials-container a:hover::before{
  opacity: 1;
  transform: translateY(-65px) rotate(0);
}

.socials-container a:hover::after{
  opacity: 1;
  transform: translateY(-42px) rotate(0);
}

.footer-container{
  display: flex;
  
}

.blog-container{
  position: relative;
  top: 90px;
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: center;
  margin: 5px;
  
  
}

.blog-box{
  
  height: fit-content;
  width: 700px;
  
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:start;
  color: black;
  gap: 20px;
}

.eng-mindset-pic{
  height: 300px;
}
.nas-pic{
  height: 300px
}

.blog-box h3{
font-size: .8rem;
}

.WIRE{
  background-color: white;
  height: 100vh; /* Adjust the height of the section */
  color:  #03062B;
  padding-bottom: 10px;

  
  
 
}

.wire-title{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 4rem;
    
}

.contact-info{
  height: 200px;
  width:400px;
  
  color: white;
  line-height: 1.5rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.contact-info a{
  color: grey;
  text-decoration: none;
}
.contact-info a:hover{
  color: white;
  text-decoration: underline;
  transition: 200ms;;
}

}
@media only screen and (min-width: 760px){}
@media only screen and (min-width: 992px){

  * {
    margin: 0;
    padding: 0;
   
    
    
  }
/* begin navbar*/  


  .navbar{
    display: flex;
    justify-content: space-between; /* space between logo and hamburger */
    align-items: center;  
    
    height: 100px;
    backdrop-filter: blur(5px);  /* Apply blur effect */
    background-color: white;
    

}

nav li{

    
  text-decoration: none;
  
  list-style: none;
  padding: 10px;
}

.navbar.sticky{

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000; /* Ensure it stays above other content */
    mix-blend-mode: difference;
    background-color:rgba(0, 0, 0, 1)

    
}




.sticky-active {
    padding-top: 100px;
    background-color: white; /* Adjust this based on the height of your navbar */
  }


  .logo{
    display: flex;
    
    align-items: center;
    padding-left: 10px;
    mix-blend-mode: difference;
    color: white; /* Starting color for text before blend */
    
    
  }

  .logo img{
    
    
    margin-right: 10px; /* Space between logo and text */
    mix-blend-mode: difference;
  }
/* end navbar*/  

/* menu begin */




.hamburger {
    
  mix-blend-mode: difference;
  color: white; /* Starting color for text before blend */
  
  padding-right: 20px;
  cursor: pointer;
  z-index: 1000;

  font-weight: bold;
  text-decoration: underline;
  
  

}



.hamburger.active {
  color: white;
}

.side-menu {
  position: fixed;
  top: 0;
  right: -450px; /* Hide off-screen by default */
  width: 400px;
  height: 100vh;
  backdrop-filter: blur(5px);  /* Apply blur effect */
  background-color: rgb(42, 42, 42); /* Semi-transparent background */
  color: white;
  padding: 20px;
  transition: right 0.3s ease-in-out; /* Smooth slide-in effect */
  z-index: 999;
  overflow-y: auto;     
  font-size: 2rem;
}





.side-menu li {
  
  list-style: none;
  padding: 5px;
}

.side-menu ul {
  list-style: none;
  padding: 0;
}

.side-menu ul li {
  margin: 20px 0;
}

.side-menu ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Side menu active (slide in) */
.side-menu.active {
  right: 0;
}

.menu-content {
  opacity: 0;
  transform: translateX(20px);
  transition: opacity 0.4s ease 0.3s, transform 0.4s ease 0.3s;
  color: white;
}

/* When menu is open, fade in content */
.side-menu.active .menu-content {
  opacity: 1;
  transform: translateY(0);
}

/* Optional: Close the side menu when clicked outside */
body.open .side-menu {
  right: 0;
}

body.menu-open .navbar.sticky {
  background-color: rgba(0, 0, 0, 0.85); /* Add a solid background to cancel blend issues */
  mix-blend-mode: normal;
}

a {
  text-decoration: none;  /* Removes underline */
  color: inherit;         /* Inherit color from parent, or you can set any color like #000 or #333 */
}


/* end menu */

/* Circle around the cursor */
.cursor {
  position: fixed;
top: 0;
left: 0;
width: 35px;
height: 35px;
background: white;
border-radius: 50%;
pointer-events: none;
z-index: 10000;
transform: translate3d(0, 0, 0);
mix-blend-mode: difference; /* Negative color effect */
}

/* end cursor */

/* begin load animation*/

.loader{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: white; /* Background color of the loader */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure it stays above other content */
  transition: opacity 0.75s, visibility 0.75s; /* Smooth fade-out effect */
}
.loader.hidden {
  opacity: 0;
  visibility: hidden; /* Hide the loader */
}

/* end load animation*/

/* INCLUDE EVERYTHING ABOVE ON EVERY PAGE */


.hero{
    background-color: white;
    height: 80vh; /* Adjust the height of the section */
        /* Change text color for better contrast */
    text-align: center;
    align-items: center;
    
    
}



.hero-text{
   text-align: center;
   max-width: 500px;
   margin: 0 auto; /* Center the text */
 
}

.ourworklink{
  padding-top:15px;
  color: white;
  font-size: 1.2rem;;
  font-weight: 400;
}

.ourworklink:hover{
  color: rgb(0, 0, 0);
  text-decoration: underline;
  transition: 200ms;
}







  
  
  
  

  

  body {
    overflow-x: hidden; /* Prevent horizontal overflow when menu is not visible */
    font-family: 'futura', sans-serif;

  }


  header{
    width: 75%;
    margin: 0 auto; /* Center the header */
    color:  #03062B;
    
  }
  header h2{
    padding-top: 100px;
    text-align: left;
    font-size: 2.5rem;
    


  }

 

  .ourWork{
    background-color:white;
    min-height: 100vh; /* Adjust the height of the section */
    display: flex;
    flex-direction: column;
    
    
  }

  
 


  .ourWorkTitle{
    color: #03062B;
    padding-top: 20px;
    padding-left: 30px;
    font-size: 4rem;
    

   
  }
#main-work-box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: white;
}



  .TWCD{
    position:relative;
    align-self: center;
    margin-top : 100px;
    opacity: 1;
    font-size: 2.5rem;
    width: 80%;
    height: 600px;
    background-color:  #3E70F2;
    background-size: cover;
    background-repeat: no-repeat;
    
    background-image: url('/media/Partner-Media/TWCD/twcdlogoonlyblack_25.webp');
    background-size: 350px;
    background-position: center;
    
    border-radius: 10px;
    transition: .5s ease;
    backface-visibility: hidden;

  }

  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    bottom : 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    
  }
  
  .TWCD:hover .twcd-logo {
    opacity: 0.6;
  }
  
  .TWCD:hover .middle {
    opacity: 1;
  }

  .TWCD:hover{
    backface-visibility: hidden;
    background-color:  #325abf;



  }
  
  .twcd-text {
    color: white;
    font-size: 32px;
    padding: 16px 32px;
  }

  .main-work-box p{
    margin-bottom:30px;
  }

  

  

    /* Scrollbar container */
.c-scrollbar {
  position: fixed;
  top: 0;
  right: 0;
  width: 7px;
  height: 100vh;
  z-index: 59;
  pointer-events: none; /* Allows clicks to pass through if needed */
}

/* Scroll thumb */
.c-scrollbar_thumb {
  position: absolute;
  top: 0;
  right: 0;
  width: 7px;
  border-radius: 10px;
  margin: 2px;
  background-color: #000;
  opacity: 0.5;
  cursor: grab;
  z-index: 59;
  pointer-events: auto; /* React to mouse events */
}

footer{
  height: fit-content;
  background-color: #03062B;
  color: grey;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
}

.bottom-title{
  width: 100%;
  display: flex;
  overflow: hidden;

 

}

.bottom-title h1{
  
  color:white;
  text-align: center;
  font-size: 5.5rem;
  animation: move-rtl 30000ms linear infinite;
  white-space: nowrap;
  padding: 0 1rem
}

@keyframes move-rtl {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

.socials-container{
  display: flex;
  gap: 20px;
  
  
}

.socials-container a{
  flex-shrink: 0;
  box-sizing: border-box;
  padding: 1em;
  display: grid;
  
  place-items: center;
  position: relative;
  border-radius: 100%;
}

.socials-container a svg{
  height: 32px;
  fill: white;
}

.socials-container a::before{
  content: attr(data-social);
  position: absolute;
  background-color: var(--accent-color);
  
  color: white;
  text-decoration: none;
  padding: .5em 1em;
  border-radius: 100px;
  transform: translateY(-30px) rotate(25deg);
  opacity: 0;
  transition: 200ms ease-in-out;

}


.socials-container a::after{
 
  opacity: 0;
  transform: translateY(0) rotate(25deg);
  
}

.socials-container a:hover::before{
  opacity: 1;
  transform: translateY(-65px) rotate(0);
}

.socials-container a:hover::after{
  opacity: 1;
  transform: translateY(-42px) rotate(0);
}

.footer-container{
  display: flex;
  
}

.blog-container{
  position: relative;
  top: 90px;
  display: flex;
  gap: 20px;
  align-self: center;
  justify-content: center;
  
  
}

.blog-box{
  
  height: fit-content;
  width: 700px;
  
  border-radius: 5px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items:start;
  color: black;
  gap: 20px;
}

.WIRE{
  background-color: white;
  height: 100vh; /* Adjust the height of the section */
  color:  #03062B;
  padding-bottom: 10px;

  
  
 
}

.wire-title{
    padding-top: 20px;
    padding-left: 30px;
    font-size: 4rem;
}

.contact-info{
  height: 200px;
  width:400px;
  
  color: white;
  line-height: 1.5rem;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.contact-info a{
  color: grey;
  text-decoration: none;
}
.contact-info a:hover{
  color: white;
  text-decoration: underline;
  transition: 200ms;;
}

}
@media only screen and (min-width: 1200px){}


